.heading {
        text-align: center;
}

.content {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
}

.recipies {
        width: 40vw;
}

.chat {
        width: 40vw;
}

.vertical-scrolling-wrapper {
        overflow-x: hidden;
        overflow-y: auto;
}

